$color-theme-blue: #1565c0;
$inactive-link-gray: #777777;
$blueish-white: #f5f8fd;

$left-bar-width: 65px;
$container-width-big: 94%;
$container-width-small: 80%;

// header inside sim-details, edit form, request details, table etc
$sub-header-height: 70px;
$sub-header-margin-bottom: 40px;

$light-color-text: #888888;
