<div class="main-div">
<mat-card >
	<mat-card-title class="title">
        
		Login Credentials
	</mat-card-title>

	<mat-card-content>

		<mat-form-field class="input" appearance="outline">
			<input matInput placeholder="Enter the email-id ">
		</mat-form-field><br/>

		<mat-form-field class="input" appearance="outline">
			<input matInput placeholder="Enter the Password">
		</mat-form-field>
        <div class="button">
			<button  mat-raised-button >cancel</button>
            <button  mat-raised-button color="warn" style="margin-left:55px;">submit</button>

        </div>

	</mat-card-content>
</mat-card>
</div>