<div class="main-div">
<mat-card >
	<mat-card-title class="title">
        
		Login
	</mat-card-title>

	<mat-card-content>

		<mat-form-field appearance="outline">
			<input matInput placeholder="email">
		</mat-form-field><br/>

		<mat-form-field appearance="outline">
			<input matInput placeholder="password">
		</mat-form-field><br/>
        <div>

            <button mat-raised-button color="primary" style="margin-left:85px;">submit</button>

        </div>

	</mat-card-content>
</mat-card>
</div>