.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 0px;



  }

  .button{
    display: flex;
    justify-content: center;
    
  }

  .input{
    width:450px
  
  }

  mat-card{
    width: 100%;
    height: 100%;
  }

  mat-form-field{
    width: 100%;
  }

  // .mat-card>:first-child {
  //   display: flex;
  //   justify-content: center;
  //   margin-top: 13px;
  // }

  :host {
    display: flex;
    // flex-direction: column;
    // align-items: flex-start;
    justify-content: center;
    background-color:#363740 ;
    padding: 20px;
  }
  