.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#363740;


  }

  .button{
    margin-left: 120px
  }

  .input{
    width:450px
  
  }

  .mat-card>:first-child {
    display: flex;
    justify-content: center;
    margin-top: 13px;
  }