mat-sidenav {
  //margin: 16px;
  width: 200px;
  border-right: none;
  background: #363740;
  color: white;
  padding: 16px;
  text-align: center;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

mat-toolbar {
  background: white;
  color: black;
  font-family: Mulish;
  font-style: ExtraBold;
  font-size: 22px;
  line-height: 28px;
  line-height: 100%;
  align-items: Left;
  vertical-align: Top;
  letter-spacing: 0.4px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  font-size: 16px;
  border: none;
  height: 56px;
  color: #a4a6b3;
  padding: 10px;
  background: #363740;
  margin: 3px 0px;
}

.active-sidenav-link {
  background: grayscale / gray;

  color: #dde2ff;
  border-left: 4px solid #dde2ff;
}

mat-sidenav {
  width: 255px;
  margin-left: -16px;
  margin-top: -12px;
  padding-right: 0px;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

.shopname {
  font-size: 36px;
  margin-top: -7px;
  margin-left: 20px;
}

.jpg-icon {
  width: 36px;
}

.icon {
  width: 30px;
  padding-right: 10px;
  margin-left: 23px;
}

mat-card {
  width: calc(100% - 20px);;
  height: 600px;
  border-radius: 16px;
}

.card3 {
  margin-top: 20px;
}

.card1 {
  width: 56px;
  height: 64px;
}

.count {
  padding: 0px;
  margin-left: 71px;
  margin-top: -67px;

  h1 {
    font-size: 16px;
    letter-spacing: normal;
    margin: 0;
    font-weight: 600;
    text-align: initial;
    line-height: 30px;
    letter-spacing: 0.3px;
  }
  p {
    margin-top: 6px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
  }
}

.count-half {
  margin-left: 551px;
  margin-top: -81px;
}
.groupicon {
  width: 27px;
  margin-top: 16px;
}
.example-spacer {
  flex: 1 1 auto;
}

input {
  margin-right: 350px;
  border: 1px solid;
  background: transparent;
}



.salesfromnewcustomers {
  margin-left: 34px;
  margin-top: -33px;
  color: #555555;
}

canvas {
  margin-top: 50px;
}

.customers {
  margin-top: -31px;
  margin-left: 32px;
  color: black;
  // width:10px;
}

.newcustomers {
  width: 253px;
  height: 20px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.2px;

  color: #555555;
}






.exiting {
  margin-top: -5px;
}

p {
  font-family: Muli;
  font-size: 20px;
}

.grid-half {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  margin-top: 80px;
  margin-left: 40px;
}

.salesnewcustomer {
  position: relative;
  margin-left: 550px;
  margin-top: -41px;
}
