<div>
  <div style="display: flex; gap: 20px">
    <h1 fxHide.xs fxHide.sm class="heading">Overview</h1>
    <mat-form-field class="formfield" appearance="outline">
      <mat-label>Enter a date range</mat-label>
      <mat-datepicker-toggle
        matPrefix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-input
        [formGroup]="formControls.rangeGroup"
        [rangePicker]="rangePicker"
      >
        <input matStartDate formControlName="start" placeholder="Start date" />
        <input matEndDate formControlName="end" placeholder="End date" />
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel>Cancel</button>
          <button
            mat-raised-button
            color="primary"
            matDateRangePickerApply
            (click)="onsubmit()"
          >
            Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
  </div>
</div>
<mat-grid-list
  [cols]="cols"
  rowHeight="600px"
  gutterSize="15px"

  class="gridlist">
<!-- first bar -->
  <mat-grid-tile class="mobileversion">
    <div class="w-100 h-100">
      <mat-card class="matcard1">
        <div class="flex header">
          <div class="flex total-sales">
            <ngx-skeleton-loader
              count="1"
              appearance="circle"
              [theme]="{ width: '60px', height: '60px' }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div *ngIf="loaded1" class="stat-icon" style="padding: 0 0.5em 0 0">
              <img
                class="shopfiy"
                src="../../assets/application/card1_shopify.svg"
              />
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '200px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
              <h1 class="mb-0">
                {{ sales?.name }}
              </h1>
              <div *ngIf="loaded1">
                <h3 class="number">₹ {{ sales?.sales | number: "1.0-0" }}</h3>
              </div>
            </div>
          </div>
          <div class="flex-col newcustomers">
            <ngx-skeleton-loader
              count="1"
              appearance="circle"
              [theme]="{ width: '60px', height: '60px' }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex info" *ngIf="loaded1">
              <img
                class="groupicon"
                style="padding: 0 0.5em 0 0; width: 2em"
                src="../../assets/application/group.svg"
              />
              <div>
                <h1 class="md">
                  {{ NewCustomer?.name }}
                </h1>
              </div>
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '100px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="newcustomer" *ngIf="loaded1">
              <span class="count1">
                {{ NewCustomer?.totalcount | number: "1.0-0" }}
              </span>
            </div>
          </div>
        </div>
        <div class="newone">
          <div class="flex" style="justify-content: space-between">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '300px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex new" *ngIf="loaded1">
              <img
                fxHide.xs
                fxHide.sm
                hide-xs
                class="icon"
                src="../../assets/application/new.svg"
              />
              <h2 class="countname" style="margin: 0.6em 0.5em">
                {{ salesfromnewcustomer?.name }}
              </h2>
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '100px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="countsalesnewcutomer" *ngIf="loaded1">
              <p class="countsales">
                ₹ {{ salesfromnewcustomer?.sales | number: "1.0-0" }}
              </p>
            </div>
          </div>
          <div class="flex" style="justify-content: space-between">
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '300px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex new" *ngIf="loaded1">
              <img
                fxHide.xs
                fxHide.sm
                class="icon"
                src="../../assets/application/exiting.svg"
              />
              <h2 class="countname" style="margin: 0.8em 0.5em">
                {{ salesfromexcitingcustomer?.name }}
              </h2>
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '100px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="countsalesexitingcustomer" *ngIf="loaded1">
              <p class="countsales">
                ₹ {{ salesfromexcitingcustomer?.sales | number: "1.0-0" }}
              </p>
            </div>
          </div>
        </div>
        <ngx-skeleton-loader
          count="1"
          [theme]="{
            width: '500px',
            'border-radius': '0',
            height: '300px',
            'margin-bottom': '20px'
          }"
          *ngIf="!loaded1"
        ></ngx-skeleton-loader>
        <div class="mychart1" *ngIf="loaded1">
          <canvas
            style="height: 300px"
            *ngIf="loaded"
            baseChart
            [data]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="chartColors"
          >
          </canvas>
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
  <!-- barchart-2 -->
  <mat-grid-tile class="mobileversion2 mobileversion ">
    <div class="w-100 h-100">
      <mat-card class="matcard2">
        <div class="flex header">
          <div class="flex total-sales">
            <ngx-skeleton-loader
              count="1"
              appearance="circle"
              [theme]="{ width: '60px', height: '60px' }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="stat-icon" style="padding: 0 0.5em 0 0" *ngIf="loaded1">
              <img
                class="shopfiy"
                src="../../assets/application/card4_razor.svg"
              />
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '200px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
              <h1 class="mb-0">
                {{ sales?.name }}
              </h1>
              <h3 class="number">
                ₹ {{ razorpay?.total_razorpay_payment | number: "1.0-0" }}
              </h3>
            </div>
          </div>
          <div class="flex total-sales">
            <ngx-skeleton-loader
              count="1"
              appearance="circle"
              [theme]="{ width: '60px', height: '60px' }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="stat-icon" style="padding: 0 0.5em 0 0" *ngIf="loaded1">
              <img
                class="shiprocket"
                src="../../assets/application/1.svg.jpg"
              />
            </div>
            <ngx-skeleton-loader
              count="1"
              [theme]="{
                width: '200px',
                'border-radius': '0',
                height: '15px',
                'margin-bottom': '20px'
              }"
              *ngIf="!loaded1"
            ></ngx-skeleton-loader>
            <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
              <h1 class="mb-0">
                {{ sales?.name }}
              </h1>
              <h3 class="number">
                ₹ {{ shiprocketcount?.total_amount | number: "1.0-0" }}
              </h3>
            </div>
          </div>
        </div>
        <ngx-skeleton-loader
          count="1"
          [theme]="{
            width: '500px',
            'border-radius': '0',
            height: '300px',
            'margin-bottom': '20px'
          }"
          *ngIf="!loaded1"
        ></ngx-skeleton-loader>
        <div class="mychart2" *ngIf="loaded1">
          <canvas
            style="height: 300px;"
            *ngIf="loaded"
            baseChart
            [data]="barChartData2"
            [labels]="barChartLabels2"
            [options]="barChartOptions2"
            [legend]="barChartLegend2"
            [chartType]="barChartType2"
            [colors]="chartColors"
          >
          </canvas>
        </div>
      </mat-card>
    </div>
  </mat-grid-tile>
<!-- chart3 -->
 

  

 

 
</mat-grid-list>




<mat-grid-list
  [cols]="1"
  rowHeight="600px"
  gutterSize="15px"
  class="gridlist"
>
<mat-grid-tile class="mobileversion2 mobileversion mobileversion3 test">
  <div class="w-100 h-60">
    <mat-card class="matcard3">
      <div class="flex header">
        <div class="flex total-sales">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            [theme]="{ width: '60px', height: '60px' }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="stat-icon" style="padding: 0 0.5em 0 0" *ngIf="loaded1">
            <img
              class="shopfiy"
              src="../../assets/application/card1_shopify.svg"
            />
          </div>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              width: '200px',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '20px'
            }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
            <h1 class="mb-0">
              {{ sales?.name }}
            </h1>
            <h3 class="number">₹ {{ sales?.sales | number: "1.0-0" }}</h3>
          </div>
        </div>
      </div>
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          width: '500px',
          'border-radius': '0',
          height: '500px',
          'margin-bottom': '20px'
        }"
        *ngIf="!loaded1"
      >
     </ngx-skeleton-loader>
     <div *ngIf="loaded1">

       <div *ngIf="lineChartApex">
        <apx-chart [series]="series" [chart]="apexlinechart"  [noData]="nodata" [dataLabels]="dataLabels" [xaxis]="xaxis"[yaxis]="yaxis" [markers]="markers"
        ></apx-chart>
      </div>

     </div>
    


    </mat-card>
  </div>
</mat-grid-tile>
</mat-grid-list>



<mat-grid-list
  [cols]="cols"
  rowHeight="600px"
  gutterSize="15px"
 
  class="gridlist"
>
<mat-grid-tile class=" mobileversion mobileversion4 test1">
  <div class="w-100 h-100">
    <mat-card class="matcard-bar-chart3">
      <div class="flex header">
        <div class="flex total-sales">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            [theme]="{ width: '60px', height: '60px' }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="stat-icon" style="padding: 0 0.5em 0 0" *ngIf="loaded1">
            <img
              class="shopfiy"
              src="../../assets/application/amazon_long_logo.svg"
            />
          </div>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              width: '200px',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '20px'
            }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
            <h1 class="mb-0">
              {{ sales?.name }}
            </h1>
            <h3 class="number">
              ₹ {{ valueforAmazon?.sales | number: "1.0-0" }}
            </h3>
          </div>
        </div>
        <div class="flex total-sales">
          <ngx-skeleton-loader
            count="1"
            appearance="circle"
            [theme]="{ width: '60px', height: '60px' }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="stat-icon" style="padding: 0 0.5em 0 0" *ngIf="loaded1">
            <img
              class="shiprocket"
              src="../../assets/application/big_logo_facebook.svg"
            />
          </div>
          <ngx-skeleton-loader
            count="1"
            [theme]="{
              width: '200px',
              'border-radius': '0',
              height: '15px',
              'margin-bottom': '20px'
            }"
            *ngIf="!loaded1"
          ></ngx-skeleton-loader>
          <div class="flex-col count" style="margin-top: 1em" *ngIf="loaded1">
            <h1 class="mb-0">
              {{ sales?.name }}
            </h1>
            <h3 class="number">
              ₹ {{ valueforFacebook?.sales | number: "1.0-0" }}
            </h3>
          </div>
        </div>
      </div>
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          width: '500px',
          'border-radius': '0',
          height: '300px',
          'margin-bottom': '20px'
        }"
        *ngIf="!loaded1"
      ></ngx-skeleton-loader>
      <div class="mychart3" *ngIf="loaded1">
        <canvas
          style="height: 300px"
          *ngIf="loaded"
          baseChart
          [data]="barChartData3"
          [labels]="barChartLabels3"
          [options]="barChartOptions3"
          [legend]="barChartLegend3"
          [chartType]="barChartType3"
          [colors]="chartColors"
        >
        </canvas>
      </div>
    </mat-card>
  </div>
</mat-grid-tile>
</mat-grid-list>

