<mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <div class="logo">
      <img
        class="jpg-icon"
        src="../../assets/application/Frame 15.jpg"
        style="max-width: 100%; min-width: 100%"
      />
    </div>
    <span class="shopname">{{ shopname?.name }}</span>


    <span class="example-spacer"></span>
  

        <input  matInput placeholder="Search">   
        
   
  
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <button
      mat-button
      class="button"
      routerLink="/overview"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/overview.svg" />Overview
    </button>
    <button
      mat-button
      class="button"
      routerLink="/Overview"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/Shopify.svg" />Shopfiy
    </button>
    <button
      mat-button
      class="button"
      routerLink="/overView"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" routerLink="/amazon" src="../../assets/application/amazon.svg" /><span
        >Amazon</span
      >
    </button>
    <button mat-button class="button"  routerLink="/facebook" routerLinkActive="active-sidenav-link">
      <img class="icon" src="../../assets/application/facebook.svg" />Facebook
    </button>
    <button mat-button routerLink="/razor" class="button">
      <img class="icon" src="../../assets/application/Razorpay.svg" />Razor
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="grid-half">
      <mat-card class="mat-card">
        <div>
          <img class="card1" src="../../assets/application/card1_shopify.svg" />

          <div class="count">
            <h1>{{ sales?.name }}</h1>
            <p>$ {{ sales?.sales }}</p>
          </div>

          <div class="count-half">
            <img class="groupicon" src="../../assets/application/group.svg" />

            <h1 class="customers">{{ newcustomer?.name }}</h1>
            <p>
              <b>
                {{ newcustomer?.sales }}
              </b>
            </p>
          </div>

          <div>
            <div class="new">
              <img
              class="groupicon"
              src="../../assets/application/new.svg"
            />
              <h1 class="salesfromnewcustomers">
               {{ salesfromnewcustomer?.name }}
              </h1>
              <p class="salesnewcustomer">
              <b>   $ {{ salesfromnewcustomer?.sales }} </b> 
              </p>
            </div>
            <div class="exiting">
              <img
                  class="groupicon"
                  src="../../assets/application/exiting.svg"
                />
              <h1 class="salesfromnewcustomers">
                {{ salesfromexcitingcustomer?.name }}
              </h1>
              <p class="salesnewcustomer">
               <b>  $ {{ salesfromexcitingcustomer?.sales }} </b> 
              </p>
            </div>
          </div>

          <div class="mychart" >
            <canvas width="3" height="1"
              *ngIf="loaded"
              baseChart
              [data]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              [colors]="chartColors"
            >
            </canvas>
          </div>

        </div>
      </mat-card>

      <mat-card>
        <div>
          <img class="card1" src="../../assets/application/card2_amazon.svg" />

          <div class="count">
            <h1>Amazon</h1>
            <p>Amazon count</p>
          </div>
        </div>
      </mat-card>

      <!--  <div class="pad-10"></div> -->

      <mat-card class="card3">
        <div>
          <img
            class="card1"
            src="../../assets/application/card3_facebook.svg"
          />

          <div class="count">
            <h1>facebook</h1>
            <p>facebook count</p>
          </div>
        </div>
      </mat-card>

      <mat-card class="card3">
        <div>
          <img class="card1" src="../../assets/application/card4_razor.svg" />

          <div class="count">
            <h1>razor</h1>
            <p>razor count</p>
          </div>
        </div>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


