// mat-grid-tile {
//   background: lightblue;
// }

mat-grid-title{
  display: block;
}

mat-card {
  width: 100%;
  // max-height: 100%;
  
  background: #ffffff;
  
}

.countsalesnewcutomer{
  margin-right: 2.5vw; margin-top: 1em;

}

.countsalesexitingcustomer{
  margin-right: 5.5vw; margin-top: 1em;
}

.example-form-field{
  margin-top: 20px;
}

mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 16px rgba(54, 55, 64, 0.08);
}
.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 0px;
  font-weight: 600;
font-size: 16px;
}

.h-100 {
  height: 100%;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;

}

h1{
  font-size: 16px;
  font-family: "Mulish", sans-serif;

}
.countsales{
  // font-weight: 800;
  font-size: 16px;
  color: #252733;
  
  font-style: normal;
font-weight: bold;
 

}
.icon{
  width: 28px;
}


.newcount{
  margin-right: 2.5vw; margin-top: 1em;

}

.count1{
  font-family: "Mulish", sans-serif;
  margin-top: -12px;
  font-weight: 800;
font-size: 24px;
}

.total-sales {
  align-items: center;
  margin-right: 1em;
}

.mychart {
  padding: 1em 2em;
 
}


  .canvas {
    height: 236px;
    display: block;
    width: 266px;
  }


.shiprocket{
  width:4em;
}
.formfield{

  margin-top: 20px;
}



.matcard2{
  height:  555px;
}
.matcard1{
  height:  555px;
}


.height{
  margin-top: -2rem;
 // margin-top: -10em;
}
.number{
  font-weight: 800;
font-size: 24px;
}

.md{
  margin-top: 0.9em
}


.countname{
  font-weight: 600;
  font-size: 16px;
  color: #555555;
  font-family: "Mulish", sans-serif;


}

.heading{
  margin-top:30px; margin-left:20px;
  font-weight: bold;
  font-family: "Mulish", sans-serif;

font-size: 24px;
}

.newcustomer{
  margin-top: -11px;
}




// @media (min-width: 600px) and (max-width: 850px) {
//   .newcount{
//     margin-right: 5.5vw; 
//     margin-top: 1em;
//   }
// }




@media  (min-width: 300px) and (max-width: 959.98px) {

  h1 {
    font-size: 12px;
    font-family: "Mulish", sans-serif;

  }

  p{
    font-size: 12px;

  }

  h2{
    font-size:12px
  }

  .matcard1{
    margin-top: -12em;
    height:555px;
   

  }

  .newcount{
    margin-right: 9.5vw; 
    margin-top: 1em;
  }


  .number{
    font-size: 16px;
  }

  .count1{
    font-size: 16px;
  }

  .h-100 {
    height: 50%;
  }

  .countsales{
    font-size: 12px;
  }

  .shopfiy{
    width: 45px;
  }

  .shiprocket{
    width: 45px;
  }

  .countname{
    font-size: 12px;
  }

  .matcard2{
    margin-top: -10em;
    height: 400px;
  }

  .mobileversion{
    height: 0;
  }

  .mobileversion2{
    margin-top: -5em;
  }

  .mobileversion3{
    margin-top: -18em;
  }
  .md{
    margin-top: 1.2em;
  }

  .countsalesnewcutomer{
    margin-right: 10.5vw; margin-top: 1em;

  }

  .countsalesexitingcustomer{
    margin-right: 10.5vw; margin-top: 1em;
  }
  
}

@media  (min-width:960px) and (max-width:1280px){
    .mobileversion{

      height:0;
    }

    .mobileversion2{
      margin-top: 0;
    }

    .md2{
      margin-top: -2em;
    }
  

    .countsalesnewcutomer{
      margin-right: 5.5vw; margin-top: 1em;

    }


}

@media(min-width:1282px){
  .countsalesnewcutomer{
    margin-right: 7vw; margin-top: 1em;

  }

  .countsalesexitingcustomer{
    margin-right: 7vw; margin-top: 1em;
  }

  .matcard1{
    height:555px;
  }

}
  
