<mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <div class="logo">
      <img
        class="jpg-icon"
        src="../../assets/application/Frame 15.jpg"
        style="max-width: 100%; min-width: 100%"
      />
    </div>
    <span class="shopname">{{ shopname?.name }}</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <button
      mat-button
      class="button"
      routerLink="/overview"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/overview.svg" />Overview
    </button>
    <button
      mat-button
      class="button"
      routerLink="/shopfiy"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/Shopify.svg" /><span>Shopfiy</span>
    </button>
    <button
      mat-button
      class="button"
      routerLink="/amazon"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/amazon.svg" /><span
        >Amazon</span
      >
    </button>
    <button
      mat-button
      class="button"
      routerLink="/facebook"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/facebook.svg" />Facebook
    </button>
    <button
      mat-button
      class="button"
      routerLink="/razorpay"
      routerLinkActive="active-sidenav-link"
    >
      <img class="icon" src="../../assets/application/Razorpay.svg" />Razor
    </button>
    <button
      mat-button
      class="button"
      routerLink="/shiprocket"
      routerLinkActive="active-sidenav-link"
    >
      <img
        class="icon"
        src="../../assets/application/Shiprocket.svg"
      />ShipRocket
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
