<mat-toolbar class="mat-elevation-z5">
  <mat-toolbar-row>
    <div class="logo">
      <img
        class="jpg-icon"
        src="../../assets/application/Frame 15.jpg"
        style="max-width: 100%; min-width: 100%"
      />
    </div>
    <span class="shopname">{{ shopname?.name }}</span>
     <span class="example-spacer"></span> 
     <div>
       
      <button mat-mini-fab  class="profile_pic">
        {{ getSingleLetter() }}
      </button>
    </div> 
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <a
      
      class="button"
      routerLink="/overview"
      routerLinkActive="active-sidenav-link"
    >
      <img class="img" src="../../assets/application/overview.svg" />
      <span class="text">Overview</span>
  </a>
    <a
    
      class="button"
      routerLink="/shopfiy"
      routerLinkActive="active-sidenav-link"
    >
      <img class="img" src="../../assets/application/Shopify.svg" />
      <span class="shopfiy">Shopfiy</span>
</a>
    <a
   
      class="button"
      routerLink="/amazon"
      routerLinkActive="active-sidenav-link"
    >
      <img class="img" src="../../assets/application/amazon.svg" />
      <span class="text">Amazon</span>
</a>
    <a
    
      class="button"
      routerLink="/facebook"
      routerLinkActive="active-sidenav-link"
    >
      <img  class="img" src="../../assets/application/Facebook.svg" />
      <span class="facebook">Facebook</span>
</a>
    <a
    
      class="button"
      routerLink="/razorpay"
      routerLinkActive="active-sidenav-link"
    >
      <img class="razorimg" src="../../assets/application/Razorpay.svg" />
      <span class="razor">Razor</span>
</a>
    <a
    
      class="button"
      routerLink="/shiprocket"
      routerLinkActive="active-sidenav-link"
    >
      <img  class="img" src="../../assets/application/Shiprocket.svg" />
      <span class="shiprocket">ShipRocket</span>
</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
